@page "/mihistoria"

<PageTitle>Mi historia</PageTitle>

<style>
  .container {
    background-color: #f2f2f2;
    width: 100%;
    height: 150px;
    padding: 20px;
  }
</style>

<div class="container">
    <h1>Mi historia</h1>
    <p>text</p>
</div>

<div class="row row-cols-3 mt-5">
    <div class="col">
        <div class="card">
            <img src="imagen" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Formacion</h5>
                <p class="card-text">text</p>
                <a href="#" class="btn btn-primary">Conoce mas</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="imagen" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hobbies </h5>
                <p class="card-text">text</p>
                <a href="#" class="btn btn-primary">Conoce mas</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="imagen" class="card-img-top" alt="..">
            <div class="card-body">
                <h5 class="card-title">Mi carrera</h5>
                <p class="card-text">text</p>
                <a href="#" class="btn btn-primary">Conoce mas</a>
            </div>
        </div>
    </div>
</div>

@code {

}
