@page "/mihistoria"

<PageTitle>Mi historia</PageTitle>

<style>
  .container {
    background-color: #f2f2f2;
    width: 100%;
    height: 150px;
    padding: 20px;
  }
</style>

<div class="container">
    <h1>Mi historia</h1>
    <p>Aqui hablare un poco de mi y como me he desarollado a lo largo de mi vida.</p>
</div>

<div class="row row-cols-3 mt-5">
    <div class="col">
        <div class="card">
            <img src="https://i1.wp.com/www.webfvea.com/wp-content/uploads/2018/07/cursos-programacion-gratis.jpg?resize=680%2C334&ssl=1" class="card-img-top" alt="Cursos de programacion">
            <div class="card-body">
                <h5 class="card-title">Formacion</h5>
                <p class="card-text">Cuento sobre mi formacion profesional</p>
                <a href="#" class="btn btn-primary">Conoce mas</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://www.neozone.org/blog/wp-content/uploads/2021/02/dormir-sur-le-ventre.jpg" class="card-img-top" alt="Hombre durmiendo">
            <div class="card-body">
                <h5 class="card-title">Hobbies </h5>
                <p class="card-text">Cuento sobre mis hobbies y lo que me gusta hacer</p>
                <a href="#" class="btn btn-primary">Conoce mas</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://www.ucol.mx/content/enterate/image/Aniversario_de_Telema_tica_W-G_1.JPG" class="card-img-top" alt="Foto de facultad ">
            <div class="card-body">
                <h5 class="card-title">Mi carrera</h5>
                <p class="card-text">Cuento sobre lo que espero aprenden u reforzar en mi carrera</p>
                <a href="#" class="btn btn-primary">Conoce mas</a>
            </div>
        </div>
    </div>
</div>

@code {

}
